@import url("./form-insert-client.css");
@import url("./navbar.css");
@import url("./list-clients.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    width: 100vw;
}